{% extends 'base.html' %}

{% block content %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Retweeting network @{{ user['screen_name'] }}</h2>
            </div>
            <div id="network"></div>
            <script>
                var highlight = '#FF4081';
                var cy = cytoscape({
                    container: document.getElementById('network'),
                    layout: {
                        name: 'cose',
                        animate: true,
                        randomize: true,
                        fit: true,
                        edgeElasticity: edge => edge.data('qty') * 32,
                        nodeRepulsion: node => node.degree() * 2048,
                    },
                    style: [
                        {
                            selector: 'node',
                            style: {
                                'background-color': '#AAAAAA',
                                'width': 5,
                                'height': 5
                            }
                        },
                        {
                            selector: 'node:grabbed',
                            style: {
                                'content': 'data(screen_name)',
                            }
                        },
                        {
                            selector: 'node[select = "start"]',
                            style: {
                                'content': 'data(screen_name)',
                                'color': highlight,
                                'font-size': 24,
                                'background-color': highlight,
                            }
                        },
                        {
                            selector: 'node[[outdegree > 5]]',
                            style: {
                                'width': 10,
                                'height': 10,
                            }
                        },
                        {
                            selector: 'node[[outdegree > 10]]',
                            style: {
                                'width': 15,
                                'height': 15
                            }
                        },
                        {
                            selector: 'node[[outdegree > 20]]',
                            style: {
                                'width': 30,
                                'height': 30
                            }
                        },
                        {
                            selector: 'edge',
                            style: {
                                'width': 'data(qty)',
                                'line-color': '#CCCCCC',
                                'curve-style': 'bezier',
                                'target-arrow-shape': 'triangle',
                                'target-arrow-color': '#CCCCCC', 
                                'opacity': 0.5
                            }
                        },
                        {
                            selector: 'node.outgoing,edge.outgoing',
                            style: {
                                'background-color': highlight,
                                'line-color': highlight,
                                'target-arrow-color': highlight
                            }
                        },
                        {
                            selector: 'node.incoming,edge.incoming',
                            style: {
                                'background-color': 'blue',
                                'line-color': 'blue',
                                'target-arrow-color': 'blue'
                            }
                        }
                    ],

                    elements: {{ elements | safe }}
                });
                cy.on('mouseover', 'node', ev => {
                    ev.target.outgoers().forEach(e => e.toggleClass('outgoing'));
                    cy.elements()
                      .aStar({ root: "[select = 'start']", goal: ev.target, directed: true })
                      .path.forEach(e => e.toggleClass('incoming'));
                });
                cy.on('mouseout', 'node', ev => {
                    ev.target.outgoers().forEach(e => e.toggleClass('outgoing'));
                    cy.elements()
                      .aStar({ root: "[select = 'start']", goal: ev.target, directed: true })
                      .path.forEach(e => e.toggleClass('incoming'));
                });

            </script>
        </div>
    </div>
</div>

{% endblock %}