{% extends 'base.html' %}

{% block content %}

<h2>#{{ tag }}</h2>

<div class="timeline">
    <div id="tagvolume"></div>
    <script>
        Plotly.newPlot('tagvolume', [{
            x: {{ timeline['xs'] | safe }},
            y: {{ timeline['ys'] }},
            type: 'scatter',
            line: {shape: 'spline'}
        }], {
            title: 'Tweets per day for tag #{{ tag }}',
            yaxis: {
                title: 'Tweets per day'
            }
        });
    </script>
</div>

<div class="tweets">
    {% for tweet in tweets %}
    <div class='tweet {{ tweet["tweet"]["type"] }}'>
        <strong>[{{ tweet['tweet']['type'].upper() }}]</strong> from 
        <a class='user' href="/user/{{ tweet['user']['id'] }}">@{{ tweet['user']['screen_name'] }}</a>
        Date: {{ tweet['tweet']['created_at'] }}
        <div class='text'>
            <a href="/tweet/{{ tweet['tweet']['id'] }}">{{ tweet['tweet']['text'] }}</a>
        </div>
        Retweets: <span class="retweets">{{ tweet['tweet']['retweets'] }}</span>
        Likes: <span class="favs">{{ tweet['tweet']['favourites'] }}</span>
    </div>
    {% endfor %}
</div>

{% endblock %}