{% extends 'base.html' %}

{% block content %}
<div class="content">
    <h2>Tweet</h2>
    {{ tweet | render_tweet(of=user, ctx=ctx) | safe }}
</div>

<div class="users">
    <h2>Correlated users</h2>
    {% for usr, n in user_ctx %}
    {{ ( "@" + usr['screen_name']) | mark(n=n, link="/user/" + usr['id']) | safe }}
    {% endfor %}
</div>

<div class="tags">
    <h2>Correlated tags</h2>
    {% for tag, n in tags %}
    {{ ( "#" + tag) | mark(n=n, link="/tag/" + tag) | safe }}
    {% endfor %}
</div>
    
<div class="context">
    <h2>Context timeline</h2>
    {% for ctx in full_ctx %}
    {{ ctx['tweet'] | render_tweet(of=ctx['user']) | safe }}
    {% endfor %}
</div>
{% endblock %}