{% extends 'base.html' %}

{% block content %}

<div class="user">
    <h2>
        <a href="https://twitter.com/{{ user['screen_name'] }}"><img class="logo" src="{{ url_for('static', filename='twitter-logo.png') }}"></a>
        @{{ user['screen_name'] }}
    </h2>

    <div class="meta">
        <div class="description">
            {{ user['description'] }}
        </div>
        {% if user['url'] %}
        <a class="web" href="{{ user['url'] }}">Link</a><br>
        {% endif %}
        Since: <span class="created">{{ user['created_at'] }}</span><br>
        Location: <span class="location">{{ user['location'] }}</span><br>
        Follower: <span class="follower">{{ user['friends'] }}</span><br>
        Listed: <span class="listed">{{ user['listed'] }}</span><br>
        Posts: <span class="posts">{{ user['statuses'] }}</span>
    </div>

    <div class="retweeters">
        <h2>Retweeting network</h2>
        {% for retweeter, n in retweeters %}
        {{ ("@" + retweeter['screen_name']) | mark(n=n, link="/user/" + retweeter['id']) | safe }}
        {% endfor %}
    </div>
    
    <div class="tags">
        <h2>Correlated tags</h2>
        {% for tag, n in tags %}
        {{ ("#" + tag) | mark(n=n, link="/tag/" + tag) | safe }}
        {% endfor %}
    </div>

</div>
{% endblock %}