<div class="mdl-card__title">
    <h2 class="mdl-card__title-text">User @{{ user['screen_name'] }}</h2>
</div>
<div class="mdl-card__supporting-text">
    {{ user['description'] | safe }}
</div>
<div class="mdl-card__supporting-text">
    {% if user['url'] %}
    <a class="web" href="{{ user['url'] }}">Link</a><br>
    {% endif %}
    Since: <span class="created">{{ user['created_at'] }}</span><br>
    Location: <span class="location">{{ user['location'] }}</span><br>
    Follower: <span class="follower">{{ user['friends'] }}</span><br>
    Listed: <span class="listed">{{ user['listed'] }}</span><br>
    Posts: <span class="posts">{{ user['statuses'] }}</span>
</div>