body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    background: white;
    color: darkgray;
}

.user h2 .logo {
    width: 2em;
}

.user .meta {
    border-left: 0.5em solid rgba(0, 0, 0, 0.25);
    padding: 1em;
}

.user .description {
    margin-bottom: 1em;
    font-size: 1.05rem;
}

.retweets, .favs {
    border-radius: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    background-color: rgba(0, 0, 0, 0.75);
    color:whitesmoke;
}

#head {
    text-align: center;
    padding: 3em;
    background: lightgray;
    color: darkgoldenrod;
}

.block {
    margin: auto;
    width: 960px;
}

.tweet {
    margin: 1rem;
    padding: 1rem;
    color: #333;
    border-left: 0.5em solid rgba(0, 0, 0, 0.25);
    border-radius: 1em;
}
.tweet .text { margin-top: 0.5em; margin-bottom: 0.5em; }
.tweet .text a {
    font-style: italic;
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

.quote {
    background: #b3ffcc;
}

.status {
    background: #ccd9ff;
}

.reply {
    background: #ffffcc;
}

.retweet {
    background: silver;
}

blockquote {
    margin: 0px;
    margin-top: 0.5em;
    padding: 1em;
    border-left: 0.5em solid rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.1);
}

#search input[type=text] {
    margin: 2rem;
    border: 0;
    border-bottom: 2px solid #1976D2;
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.75rem;
    height: 2rem;
    text-align: center;
    padding: 10px;
    background: transparent;
	color: #1976D2;
}

#search input[type=text]:focus {
	outline: none;
}

#search input[type=text]::placeholder {
	color: rgba(0, 0, 0, 0.25);
}


#footer {
    text-align: center;
    padding: 3em;
    background: lightgray;
    font-size: 0.9rem;
    color: darkgrey;
}